<template>
  <div>
    <ABOUT/>
  </div>
</template>

<script>
// @ is an alias to /src
import ABOUT from '@/components/ABOUT.vue'

export default {
  name: 'Homepage',
  components: {
    ABOUT
  }
}
</script>
