<template>
  <div>
    <ATPSUS/>
  </div>
</template>

<script>
// @ is an alias to /src
import ATPSUS from '@/components/ATPSUS.vue'

export default {
  name: 'Homepage',
  components: {
    ATPSUS
  }
}
</script>
