<template>
  <div>
    <CONTACT/>
  </div>
</template>

<script>
// @ is an alias to /src
import CONTACT from '@/components/CONTACT.vue'

export default {
  name: 'Homepage',
  components: {
    CONTACT
  }
}
</script>
