<template>
  <div>
    <GRAPHEDIT/>
  </div>
</template>

<script>
// @ is an alias to /src
import GRAPHEDIT from '@/components/GRAPHEDIT.vue'

export default {
  name: 'Homepage',
  components: {
    GRAPHEDIT
  }
}
</script>
