<template>
  <div>
    <HOME/>
  </div>
</template>

<script>
// @ is an alias to /src
import HOME from '@/components/HOME.vue'

export default {
  name: 'Homepage',
  components: {
    HOME
  }
}
</script>
