<template>
    <div>
        <MDEDIT/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import MDEDIT from '@/components/MDEDIT.vue'

    export default {
        name: 'Homepage',
        components: {
            MDEDIT
        }
    }
</script>
