<template>
  <div>
    <ODTH/>
  </div>
</template>

<script>
// @ is an alias to /src
import ODTH from '@/components/ODTH.vue'

export default {
  name: 'Homepage',
  components: {
    ODTH
  }
}
</script>
