<template>
  <div>
    <PROJECTS/>
  </div>
</template>

<script>
// @ is an alias to /src
import PROJECTS from '@/components/PROJECTS.vue'

export default {
  name: 'Homepage',
  components: {
    PROJECTS
  }
}
</script>
