<template>
  <div>
    <UPCOMING/>
  </div>
</template>

<script>
// @ is an alias to /src
import UPCOMING from '@/components/UPCOMING.vue'

export default {
  name: 'Homepage',
  components: {
    UPCOMING
  }
}
</script>
