<template>


    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>

            <v-row class="py-12">
                <v-col class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <h3>Über mich.</h3>
                    <p  style="text-align: justify">
                        Ich definiere mich nicht gerne über die Arbeit, die ich geleistet habe. Ich definiere mich über
                        die Arbeit, die ich tun möchte. Ich will weiter lernen, mich weiter herausfordern und
                        interessante Dinge tun, die von Bedeutung sind.

                    </p>
                    <p  style="text-align: justify">
                        Ich lerne schnell, kann neue Fähigkeiten erwerben und relativ leicht mit verschiedenen Projekten
                        und Rollen umgehen. Ich mag es, im Laufe meines Lebens und meiner Karriere in einer Reihe von
                        Bereichen Fachwissen zu entwickeln.
                    </p>
                    <p  style="text-align: justify">
                        Meine ersten Erfahrungen mit Webdesign habe ich in meiner Ausbildung an der HTL Rennweg gemacht,
                        in welcher in 2017 meinen Fachschulabschluss machte. Diese faszination zog sich auch durch meine
                        Ausbildung an der HTL Spengergasse, in welcher ich neben Softwareentwicklung mittels Java und C#
                        auch Netzwerktechnik, Datenbankentwicklung und Projektmanagment lernte.

                    </p>

                    <p  style="text-align: justify">
                        Dank meiner Praktika sowie persönlicher Interessen habe ich bereits in vielen Bereichen
                        erfahrungen wie Fotografie, Videoschnitt, UI/UX Design, Marketing, Print Design und vielem mehr.

                        Meine Arbeit ist etwas, das ich mit viel Ehrlichkeit, Interesse und Engagement tue.
                    </p>
                </v-col>
            </v-row>


        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>

    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER

        }
    };
</script>


<style>

    tr.border td.border {padding-top: 8px; padding-bottom:8px}


</style>
