<template>

    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>

            <v-row style="margin-top: 20px">
                <v-col class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2>ATP sustain Website</h2>
                    <div class="accentimgsmall"></div>
                    <p style="margin-top: 20px; text-align: justify">
                        Ich war für die Umsetzung des Internetauftritts der in Wien ansässigen Firma ATP sustain GmbH
                        verantwortlich und habe ihn nach Corporate Identity und Designrichtlinien realisiert. Für die
                        Planung setzte ich AdobeXD ein, um noch präziser auf Kundenwünsche und Änderungen reagieren zu
                        können. Die endgültige Website wurde mit Wordpress umgesetzt, um den Mitarbeitern die spätere
                        Wartung zu erleichtern.
                    </p>
                    <img class="ma-2" height="32px"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/1200px-Adobe_XD_CC_icon.svg.png">
                    <img class="mt-2 mb-2" height="32px" src="https://jurosko.de/wp-content/uploads/2018/05/wordpress-logo.png"
                         style="filter: invert(1)">

                    <a href="https://www.atp-sustain.ag/"><h2 style="margin-top: 50px;">Zum Projekt.</h2></a>
                    <div class="accentimgsmall" style="width: 110px;"></div>

                </v-col>
                <v-col class="col-xl-8 col-lg-8 col-md-8 desktop">
                    <img src="../assets/atpsus.png" style="padding-left: 50px;" width="100%">
                </v-col>
            </v-row>
        </v-col>

        <v-col class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
        <FOOTER></FOOTER>
    </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>
    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER

        }
    };
</script>


<style>

    tr.border td.border {
        padding-top: 8px;
        padding-bottom: 8px
    }


    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        width: 185px;
        height: 12px;
        margin-top: -12px
    }




</style>
