<template>

    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>
            <v-row class="py-12">
                <v-col class="col-7">
                    <h3>Kontakt.</h3>
                    <p class="mt-4 mb-1">Julian Haugeneder</p>
                    <p class="mb-1">Julian@Haugeneder.dev</p>
                    <p class="mb-4">+43 (0) 660 569 55 44</p>
                    <p class="mb-1"><a href="https://www.linkedin.com/in/julian-haugeneder-200a0915a/"> LinkedIn </a></p>
                    <p class="mb-1"><a href="https://www.xing.com/profile/Julian_Haugeneder2/"> Xing </a></p>
                </v-col>
            </v-row>

        </v-col>


        <v-col class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>

    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER

        }
    };
</script>


<style scoped>

    tr.border td.border {padding-top: 8px; padding-bottom:8px}





</style>
