<template>

    <v-row no-gutters style="padding: 100px">
        <v-col class="col-2">
            <MENU></MENU>
        </v-col>

        <v-col class="col-10">
            <HEADER></HEADER>

            <v-row class="py-12">
                <v-col class="col-7">
                    <h3>Kontakt.</h3>
                    <p class="mt-4 mb-1">Julian Haugeneder</p>
                    <p class="mb-1">Julian@Haugeneder.dev</p>
                    <p class="mb-4">+43 (0) 660 569 55 44</p>
                    <p class="mb-1"><a href="https://www.linkedin.com/in/julian-haugeneder-200a0915a/"> LinkedIn </a></p>
                    <p class="mb-1"><a href="https://www.xing.com/profile/Julian_Haugeneder2/"> Xing </a></p>
                </v-col>
            </v-row>


        </v-col>
        <v-col class="col-6 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-6 mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>

    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER

        }
    };
</script>


<style>

    tr.border td.border {padding-top: 8px; padding-bottom:8px}



</style>