<template>

    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>

            <v-row style="margin-top: 20px">
                <v-col class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <a href="https://haugeneder.dev/data/CV.pdf"> <v-btn small depressed outlined color="#4067e2">Download CV</v-btn></a>
                </v-col>
                <v-col class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">

                    <h3>
                        <div style="background: #4067e2; width: 5px; height: 23px; float: left; margin-right: 4px"></div>
                        Persönlich
                    </h3>

                    <table style="margin-top: 10px; width: 100%">
                        <tr>
                            <td style="font-weight: 700">Name</td>
                            <td>Julian Haugeneder</td>
                        </tr>
                        <tr>
                            <td style="font-weight: 700">Geburtsdatum</td>
                            <td>07.12.1998</td>
                        </tr>
                        <tr>
                            <td style="font-weight: 700">Telefon</td>
                            <td>+43 (0) 660 569 55 44</td>
                        </tr>
                        <tr>
                            <td style="font-weight: 700">Email</td>
                            <td>JulianHaugeneder@gmail.com</td>
                        </tr>
                    </table>
                </v-col>
                <v-col class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3>
                        <div style="background: #4067e2; width: 5px; height: 23px; float: left; margin-right: 4px"></div>
                        Beruflich
                    </h3>

                    <table style="margin-top: 10px; width: 100%">
                        <tr>
                            <td>Jan. 2020 - Sept. 2020</td>
                            <td style="font-weight: 700">Lebenshilfe gGmbH </td>
                            <td>Zivildienst</td>
                        </tr>
                        <tr>
                            <td>Juni 2019 - Juni. 2019</td>
                            <td style="font-weight: 700">Österreichisches Bundesheer</td>
                            <td>Praktikant - Software Tests</td>
                        </tr>
                        <tr>
                            <td>Nov. 2017 - Feb. 2018</td>
                            <td style="font-weight: 700">ATP sustain GmbH</td>
                            <td>Web Development</td>
                        </tr>
                        <tr>
                            <td>Okt. 2016 - Okt. 2016</td>
                            <td style="font-weight: 700">Plandata Datenverarbeitungs GmbH</td>
                            <td>Praktikant - UI / UX Design</td>
                        </tr>
                        <tr>
                            <td>Dez. 2015 - Feb. 2016</td>
                            <td style="font-weight: 700">ATP sustain GmbH</td>
                            <td>Praktikant - Web Development</td>
                        </tr>
                        <tr>
                            <td>Juni 2015 - Juli 2015</td>
                            <td style="font-weight: 700">Plandata Datenverarbeitungs GmbH</td>
                            <td>Praktikant IT Verwaltung</td>
                        </tr>
                    </table>
                </v-col>
            </v-row>
            <v-row class="mt-4">
                <v-col class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <h3>
                        <div style="background: #4067e2; width: 5px; height: 23px; float: left; margin-right: 4px"></div>
                        Ausbildung
                    </h3>

                    <p style="font-weight: 700" class="mb-1 mt-4">HTBLuVA Spengergasse</p>
                    <p class="my-0 mb-1" style="font-style: italic; color: #aaaaaa">März 2017 - Juni 2019</p>
                    <p class="mb-6"> Webentwicklung / Datenbanken und Informationssysteme / Technische Informatik und
                        verteilte Systeme / Systemplanung und Projektentwicklung / Netzwerktechnik
                        / Medientechnik</p>

                    <p style="font-weight: 700" class="mb-1 mt-4">HTL Rennweg</p>
                    <p class="my-0 mb-1" style="font-style: italic; color: #aaaaaa">Sep. 2013 - Feb. 2017</p>
                    <p class="mb-6"> / Webentwicklung
                        / Datenbanken und Informationssysteme
                        / Technische Informatik und verteilte Systeme
                        / Systemplanung und Projektentwicklung
                        / Netzwerktechnik
                        / Medientechnik</p>
                </v-col>
                <v-col class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                    <h3>
                        <div style="background: #4067e2; width: 5px; height: 23px; float: left; margin-right: 4px"></div>
                        Sonstiges
                    </h3>
                    <div class="shadow mt-2 mr-2 pa-3 pt-1 box">PMBasic Zertifizierung</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Cisco R&S Zertifikat</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Führerschein Klasse B</div>
                    <div style="clear:both;"></div>

                    <h3 class="mt-6">
                        <div style="background: #4067e2; width: 5px; height: 23px; float: left; margin-right: 4px"></div>
                        Erfahrung
                    </h3>
                    <div class="shadow mt-2 mr-2 pa-3 pt-1 box">Vue.js</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Vuetify</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">SASS</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Node.js</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Express.js</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Laravel</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">PHP</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">REST</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Wordpress</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">C#</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Java</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Spring Framework</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Oracle DB</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Cisco</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Git</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Linux Server</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Datacenter Hardware</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Server Hosting</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">UI/UX Design</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Adobe XD</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Adobe Photoshop</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Adobe Illustrator</div>
                    <div class="shadow ma-2 pa-3 pt-1 box">Adobe InDesign</div>

                </v-col>
            </v-row>

        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>

    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER
        }
    };
</script>


<style scoped>

    tr.border td.border {
        padding-top: 8px;
        padding-bottom: 8px
    }




    .shadow {

        -webkit-box-shadow: 2px 0px 16px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 0px 16px -8px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 0px 16px -8px rgba(0, 0, 0, 0.75);

    }

    .box2 {
        font-weight: 700;
        width: auto;
        height: 31px;
        font-size: 18px;
        text-align: center;
        border-radius: 3px;
        background: #201e23;
        float: left
    }

    .box {
        font-weight: 700;
        width: auto;
        height: 25px;
        text-align: center;
        border-radius: 3px;
        background: #201e23;
        float: left
    }

    .box:hover{
        background: #29272c;

    }
    .box2:hover{
        background: #29272c;

    }

    @media (min-width: 960px) {
        .mobile {
            display: none !important;
        }
        .padding100{
            padding: 100px!important;
        }



    }



    @media (max-width: 960px) {
        .desktop {
            display: none !important;
        }
        .padding100{
            padding: 20px!important;
        }

        p, td{
            font-size:11px;
        }

        .box {
           font-size: 11px;
            font-weight: 400;
        }
    }

</style>
