<template >
    <div>
        <h2>Contact</h2>
        <div class="accentimgsmall" style="width: 95px;"></div>
        <p style="margin-top: 5px; font-style: italic; color: #aaa">Julian <span
                style="font-weight: 700">Haugeneder</span> > julian@haugeneder.dev > +43 (0) 660 569 55 44 > <a href="https://www.linkedin.com/in/julian-haugeneder-200a0915a/"> LinkedIn </a> > <a href="https://www.xing.com/profile/Julian_Haugeneder2/"> Xing </a></p>
        <p style="margin-top: -15px; color: #aaa"> &copy; Julian Haugeneder 2020</p>
    </div>
</template>

<script>
    export default {
        data() {
            return {};
        }
    };
</script>

<style>

    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        width: 185px;
        height: 12px;
        margin-top: -12px
    }


</style>