<template>

    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>

            <v-row style="margin-top: 20px">
                <v-col class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2>GraphEdit.</h2>
                    <div class="accentimgsmall mb-4" style="width: 95px;"></div>
                    <p style="margin-top: 20px; text-align: justify">
                        GraphEdit ist ein Online-Tool zur Visualisierung verschiedener Ansätze zur Graphentheorie.
                        Bereits während meiner Ausbildung an der HTL Spengergasse wurde dieses Projekt mit Java
                        implementiert und steht nun als Web-Version zur Verfügung.
                    </p>

                    <p style="margin-top: 20px; text-align: justify">
                        GraphEdit wurde mit Vue.js und Vuetify in Node.js realisiert.
                    </p>
                    <img class="ma-2" height="32px"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png">
                    <img class="ma-2" height="32px" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png">
                    <img class="ma-2" height="32px"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png">
                   <a href="https://graphedit.haugeneder.dev/#/"><h2 style="margin-top: 50px;">Zum Projekt.</h2></a>
                    <div class="accentimgsmall" style="width: 110px;"></div>
                </v-col>
                <v-col class="col-xl-8 col-lg-8 col-md-8 desktop">
                    <img src="../assets/odtg.png" style="padding-left: 50px;" width="100%">
                </v-col>
            </v-row>
        </v-col>

        <v-col class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>
    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER
        }
    };
</script>


<style>

    tr.border td.border {
        padding-top: 8px;
        padding-bottom: 8px
    }


    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        height: 12px;
        margin-top: -12px
    }





</style>
