<template>
    <div>
        <div class="desktop">
            <div class="header1"></div>
            <h1 style="text-align: right; margin-right: 200px; margin-top: -70px"><span>HAUGENEDER</span></h1>
            <div class="header2"></div>
            <div style="clear: both!important;"></div>
            <h2 style="text-align: right; font-size: 26px; color: transparent; -webkit-text-stroke-width: 0.4px; -webkit-text-stroke-color: white; margin-top: -30px; font-family: Arial!important;">
                <span style="margin-right: 10px">JULIAN</span></h2>
            <h2 style="transform: rotate(180deg); transform-origin: center">WEB<span
                    style="margin-left: 20px">SOFTWARE</span><span
                    style="margin-left: 20px">DEVELOPMENT</span></h2>
        </div>
        <div class="mobile">
            <h1 style="text-align: left; font-size: 24px">HAUGENEDER</h1>
            <h2 style="text-align: left; font-size: 14px; color: transparent; -webkit-text-stroke-width: 0.4px; -webkit-text-stroke-color: white; margin-top: -10px; font-family: Arial!important;">
                <span style="margin-right: 10px">JULIAN</span></h2>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {};
        }
    };
</script>

<style>

    .header1 {
        background-image: url('../assets/bg.jpg');
        background-size: 200%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
    }

    .header2 {
        width: 500px;
        height: 50px;
        background-image: url('../assets/bg.jpg');
        background-position: top;
        background-size: 500%;
        background-repeat: no-repeat;
        float: right;
        margin: -60px 50px 0 0
    }



</style>
