<template>

    <v-row class="padding100" no-gutters>
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
            <HEADER></HEADER>
            <v-row no-gutters style="margin-top: 50px">
                <v-col class="col-1 desktop">
                    <h2 style="transform: rotate(90deg); transform-origin: left">WEB<span style="margin-left: 20px">SOFTWARE</span><span
                            style="margin-left: 20px">DEVELOPMENT</span></h2>
                </v-col>
                <v-row class="mobile pb-12">
                    <v-col class="col-12">
                        <h3 class="py-2">ÜBER MICH</h3>
                        <v-btn block class="mainbutton" color="#4067e2" depressed to="/cv">Lebenslauf</v-btn>
                    </v-col>
                    <v-col class="col-12">
                        <v-btn block class="mainbutton" color="#4067e2" depressed to="/about">Mehr über mich</v-btn>
                    </v-col>
                    <v-col class="col-12">
                        <h3 class="py-2">PROJEKTE</h3>
                        <v-btn block class="mainbutton" color="#4067e2" depressed to="/atpsus">ATP sustain GmbH</v-btn>
                    </v-col>
                    <v-col class="col-12">
                        <v-btn block class="mainbutton" color="#4067e2" depressed to="/odth">OddityHealth</v-btn>
                    </v-col>
                    <v-col class="col-12 mb-12">
                        <v-btn block class="mainbutton" color="#4067e2" depressed to="/upcoming">COVID19Dahsboard
                        </v-btn>
                    </v-col>

                </v-row>
                <v-col class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 padding8">
                    <h2>Über mich.</h2>
                    <div class="accentimgsmall" style="width: 95px;"></div>
                    <p class="mt-6 mb-1 marginleft4" style="font-weight: 700">Julian Haugeneder</p>
                    <p class="marginleft4" style="text-align: justify">
                        Ich definiere mich nicht gerne über die Arbeit, die ich geleistet habe. Ich definiere mich über
                        die Arbeit, die ich tun möchte. Ich will weiter lernen, mich weiter herausfordern und
                        interessante Dinge tun, die von Bedeutung sind.

                    </p>
                    <p class="marginleft4" style="text-align: justify">
                        Ich lerne schnell, kann neue Fähigkeiten erwerben und relativ leicht mit verschiedenen Projekten
                        und Rollen umgehen. Ich mag es, im Laufe meines Lebens und meiner Karriere in einer Reihe von
                        Bereichen Fachwissen zu entwickeln.
                    </p>
                    <v-btn class="marginleft4" color="#4067e2" depressed outlined small
                           style="color: #4067e2!important;" to="/about">MEHR ÜBER MICh
                    </v-btn>

                </v-col>
                <v-col class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 offset-xl-1 offset-lg-1">
                    <h2>Blog News.</h2>
                    <div class="accentimgsmall" style="width: 100px;"></div>

                    <div class="mt-8">
                        <h2>COVID19 DASHBOARD</h2>
                        <p class="marginleft4" style="font-size: 11px; font-style: italic">27.04.2020</p>
                        <p class="mb-0" style="font-weight: 700">COVID19 DASHBOARD MIT VUE.JS UND AXIOS</p>
                        <p style="text-align: justify">In diesem Beitrag möchte ich aufzeigen wie man mittels Vue.js,
                            Vuetify und Axios eine REST API anspricht und die Daten in einem modernen Dashboard
                            wiedergibt. Wir werden hierfür eine REST API ansprechen, die uns globale und
                            länderspezifische Daten zum
                            Coronavirus Covid19 liefert.</p>
                        <a href="https://blog.haugeneder.dev/?p=14">
                            <v-btn color="#4067e2" depressed outlined small>Zum Beitrag</v-btn>
                        </a>
                    </div>
                </v-col>
            </v-row>

        </v-col>
        <v-col class="col-12 mt-12 mb-12 desktop">
            <TOPROJECTS></TOPROJECTS>
        </v-col>
        <v-col class="col-12 mt-12">
            <h2>Contact</h2>
            <div class="accentimgsmall" style="width: 95px;"></div>
            <p style="margin-top: 5px; font-style: italic; color: #aaa">Julian <span
                    style="font-weight: 700">Haugeneder</span> > julian.haugeneder@gmail.com > 06605695544 > LinkedIn >
                Xing</p>
            <p style="margin-top: -15px; color: #aaa"> &copy; Julian Haugeneder 2020</p>
        </v-col>
    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import HEADER from "./HEADER";
    import TOPROJECTS from "./TOPROJECTS";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            HEADER,
            TOPROJECTS,
        }
    };
</script>


<style scoped>

    .headermain1 {
        background-image: url('../assets/bg.jpg');
        background-size: 200%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
    }

    .headermain2 {
        width: 500px;
        height: 50px;
        background-image: url('../assets/bg.jpg');
        background-position: top;
        background-size: 500%;
        background-repeat: no-repeat;
        float: right;
        margin: -60px 50px 0 0
    }

    .bottommain {
        background-image: url('../assets/bg.jpg');
        background-position: top right;
        background-size: 250%;
        background-repeat: no-repeat;
        height: 35px;
        width: 600px;
        float: right
    }

    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        width: 95px;
        height: 12px;
        margin-top: -12px
    }

    .mainbutton {
        color: #eee !important;
    }


</style>
