<template>

    <v-row no-gutters style="padding: 100px">
        <v-col class="col-2">
            <MENU></MENU>
        </v-col>

        <v-col class="col-10 mb-12">
            <HEADER></HEADER>

            <v-row style="margin-top: 20px">
                <v-col class="col-8">                <h2>MDEdit.</h2>
                    <div class="accentimgsmall" style="width: 95px;"></div>

                <p style="text-align: justify; margin-top: 20px;">
asdasdasd
                </p>
                    <img class="ma-2" height="32px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png">
                    <img class="ma-2" height="32px" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png">
                    <img class="ma-2" height="32px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png">

                </v-col>
                    <v-col class="col-6">
                        <v-textarea
                            dark
                            outlined
                            color="#4067e2"
                            v-model="text"
                            label="Markdown Input"
                            v-on:input="render(text)"

                    ></v-textarea>

                </v-col>
                <v-col class="col-6">

                    <p class="pa-6" style="border: 1px solid #000000; border-radius: 5px; height: 100%; width: 100% " v-html="rawHTML"></p>

                </v-col>
            </v-row>
        </v-col>

        <v-col class="col-6 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-6 mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>

    </v-row>

</template>

<script>
    import MENU from "../components/MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";
    export default {
        data() {
            return {

                text: "",
                rawHTML: "",
                rules : [
                    {
                        regex: /(\s{2})(.*)/g,
                        replacement: '</br>$2'
                    },
                    {
                        regex: /(#{6}\s)(.*)/g,
                        replacement: '<h6>$2</h6>'
                    },
                    {
                        regex: /(#{5}\s)(.*)/g,
                        replacement: '<h5>$2</h5>'
                    },
                    {
                        regex: /(#{4}\s)(.*)/g,
                        replacement: '<h4>$2</h4>'
                    },
                    {
                        regex: /(#{3}\s)(.*)/g,
                        replacement: '<h3>$2</h3>'
                    },
                    {
                        regex: /(#{2}\s)(.*)/g,
                        replacement: '<h2>$2</h2>'
                    },
                    {
                        regex: /(#{1}\s)(.*)/g,
                        replacement: '<h1>$2</h1>'
                    },
                    {
                        regex: /(\*)(.*)\1/g,
                        replacement: '<span style="font-weight: 700">$2</span>'
                    },
                    {
                        regex: /(_)(.*)\1/g,
                        replacement: '<em>$2</em>'
                    },
                    {
                        regex: /(\^)(.*)\1/g,
                        replacement: '<sup>$2</sup>'
                    },
                    {
                        regex: /(~)(.*)\1/g,
                        replacement: '<sub>$2</sub>'
                    },
                    {
                        regex: /(-)(.*)\1/g,
                        replacement: '<del>$2</del>'
                    },
                    {
                        regex: /(\+)(.*)\1/g,
                        replacement: '<ins>$2</ins>'
                    },
                    {
                        regex: /(\?\?)(.*)\1/g,
                        replacement: '<cite>&mdash; $2</cite>'
                    },
                    {
                        regex: /(bq\.\s*)(.*)/g,
                        replacement: '<blockquote>$2</blockquote>'
                    },
                    {
                        regex: /{{(.*)}}/g,
                        replacement: '<code>$1</code>'
                    },
                ]

            }
        },

        components:{
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER
        },

        methods: {

            render: function (text) {
                text = '\n' + text + '\n';
                this.rules.forEach(function(rule) {
                    text = text.replace(rule.regex, rule.replacement);
                });

                this.rawHTML = text.trim();
            }

        }

    };




</script>


<style>



    tr.border td.border {
        padding-top: 8px;
        padding-bottom: 8px
    }



    .v-input__slot{
        position: static!important;
    }

    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        width: 95px;
        height: 12px;
        margin-top: -12px
    }

</style>