<template>
    <div>
        <div class="desktop">
            <router-link to="/"><h2>Home.</h2></router-link>
            <div class="accentimgsmall" style="width: 80px;"></div>
            <h3 class="mb-4 mt-8"><span style="font-family: Arial">> </span> Projects</h3>
            <router-link
                    to="/graphedit"
                    v-bind:style="[this.$route.path == '/graphedit' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                <p>GraphEdit</p></router-link>
            <!--    <router-link v-bind:style= "[this.$route.path == '/mdedit' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]" to="/mdedit"><p>MDEdit</p></router-link>-->
            <router-link
                    to="/odth"
                    v-bind:style="[this.$route.path == '/odth' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                <p>OddityHealth</p></router-link>
            <router-link
                    to="/atpsus"
                    v-bind:style="[this.$route.path == '/atpsus' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                <p>ATPsustain Web</p></router-link>
            <router-link
                    to="/upcoming"
                    v-bind:style="[this.$route.path == '/upcoming' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                <p>Projekte in Entwicklung<span style="font-family: Arial"></span></p></router-link>
            <h3 class="mb-4"><span style="font-family: Arial">> </span> Über mich</h3>
            <router-link
                    to="/cv"
                    v-bind:style="[this.$route.path == '/cv' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                <p>Lebenslauf</p></router-link>
            <router-link
                    to="/about"
                    v-bind:style="[this.$route.path == '/about' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                <p>Über mich</p></router-link>
            <router-link
                    to="/contact"
                    v-bind:style="[this.$route.path == '/contact' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                <p>Kontakt</p></router-link>
            <h3 class="mb-4">> Links</h3>
            <a href="https://www.linkedin.com/in/julian-haugeneder-200a0915a/"><p>LinkedIn</p></a>
            <a href="https://www.xing.com/profile/Julian_Haugeneder2/"><p>Xing</p></a>
            <a href="https://blog.haugeneder.dev"><h2>Blog.</h2></a>
            <div class="accentimgsmall" style="width: 80px;"></div>
        </div>
        <div class="mobile" style="text-align: right!important; position: absolute; right: 20px;">


            <v-btn class="mb-8" color="#131116" dark depressed @click.stop="dialog = true" small>
                <span style="font-size: 12px; font-family: Arial; font-weight: 700"> > Menu </span>
            </v-btn>

            <v-dialog
                    overlay-color="#131116"
                    overlay-opacity="1"
                    max-width="290"
                    v-model="dialog"
            >
                <v-card  class="pa-12" flat dark>
                    <router-link to="/"><h2>Home.</h2></router-link>
                    <div class="accentimgsmall" style="width: 80px;"></div>
                    <h3 class="mb-4 mt-8"><span style="font-family: Arial">> </span> Projects</h3>
                    <router-link
                            to="/graphedit"
                            v-bind:style="[this.$route.path == '/graphedit' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                        <p>GraphEdit</p></router-link>
                    <!--    <router-link v-bind:style= "[this.$route.path == '/mdedit' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]" to="/mdedit"><p>MDEdit</p></router-link>-->
                    <router-link
                            to="/odth"
                            v-bind:style="[this.$route.path == '/odth' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                        <p>OddityHealth</p></router-link>
                    <router-link
                            to="/atpsus"
                            v-bind:style="[this.$route.path == '/atpsus' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                        <p>ATPsustain Web</p></router-link>
                    <router-link
                            to="/upcoming"
                            v-bind:style="[this.$route.path == '/upcoming' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                        <p>Projekte in Entwicklung<span style="font-family: Arial"></span></p></router-link>
                    <h3 class="mb-4"><span style="font-family: Arial">> </span> Über mich</h3>
                    <router-link
                            to="/cv"
                            v-bind:style="[this.$route.path == '/cv' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                        <p>Lebenslauf</p></router-link>
                    <router-link
                            to="/about"
                            v-bind:style="[this.$route.path == '/about' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                        <p>Über mich</p></router-link>
                    <router-link
                            to="/contact"
                            v-bind:style="[this.$route.path == '/contact' ? {'color': '#4067e2!important'} : {'color': '#eee!important'}]">
                        <p>Kontakt</p></router-link>
                    <h3 class="mb-4">> Links</h3>
                    <a href="https://www.linkedin.com/in/julian-haugeneder-200a0915a/"><p>LinkedIn</p></a>
                    <a href="https://www.xing.com/profile/Julian_Haugeneder2/"><p>Xing</p></a>
                    <a href="https://blog.haugeneder.dev"><h2>Blog.</h2></a>
                    <div class="accentimgsmall" style="width: 80px;"></div>
                </v-card>
            </v-dialog>


        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,

            };


        },

        mounted() {
            console.log(this.$route)
        }

    };
</script>

<style>
    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        height: 12px;
        margin-top: -12px
    }




    .v-dialog, v-dialog--active {
        position: absolute!important;
        top:0px!important;
        max-width: 100%!important;
        margin: 0px!important;
        border-radius: 0px!important;
        box-shadow: none!important;


    }

    .v-card, v-sheet {
        border-radius: 0px!important;

    }

    .theme--dark.v-card{
        background-color: #131116!important;
    }


</style>
