<template>

    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>

            <v-row style="margin-top: 20px">
                <v-col class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2>OddityHealth.</h2>
                    <div class="accentimgsmall" style="width: 115px;"></div>
                    <p style="margin-top: 20px; text-align: justify">
                       OddityHealth ist ein Gesundheistracker fürs Büro.
                    </p>
                    <p style="margin-top: 20px; text-align: justify">
                        Gesundheit wird durch viele Faktoren erhalten. Neben den Faktoren Essen, Trinken und körperliche
                        Betätigung sind auch solche wie soziale Kontakte, Arbeitsumfeld (thermisch, olfaktorisch,
                        visuell, akustisch) und die Eingriffsmöglichkeiten entscheidend. OddityHealth ist ein Projekt,
                        das Mitarbeiter anregen soll, gesünder und sozialer im Arbeitsumfeld zu leben. Derzeit nehmen
                        viele Angestellte ihre unbewusste Ernährung und ihr monotones und wertneutrales Verhalten in der
                        Arbeit nicht war. Gruppendynamiken und Beziehungen bleiben meist in Abteilungen oder
                        Projektgruppen außen vor.
                    </p>
                    <p style="margin-top: 20px; text-align: justify">
                        Das Projekt soll dazu animieren/beitragen, Richtlinien für sein
                        persönliches Wohlbefinden, ein besseres Arbeitsklima und soziale Vernetzungen aufzuzeigen. Die
                        Mitarbeiter sollen in der Lage sein, über dieses Webtool, Gesundheits- sowie Sozialdaten
                        einzutragen, um sich einen Überblick über ihre Lebensweise im Arbeitsumfeld zu verschaffen.
                        Statistiken und Visualisierungen über ihre Errungenschaften sollen die Anwender motivieren,
                        bewusst, gesund und sozial aktiv miteinander zu interagieren
                    </p>
                    <p style="margin-top: 20px; text-align: justify">
                        OddityHealth wurde in der ersten Version mittels Vue.js, Vuetify, Express.js mit JWT und MongoDB realisiert.
                    </p>
                    <p style="margin-top: 20px; text-align: justify">
                        In der Finalen Version wurde OddityHealth mittels Vue.js, Vuetify, Laravel und MariaDB umgesetzt.
                    </p>
                    <img class="ma-2" height="32px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png">
                    <img class="ma-2" height="32px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png">
                    <img class="ma-2" height="32px" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png">
                    <img class="ma-2" height="32px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1200px-Laravel.svg.png">
                    <img class="ma-2" height="32px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1200px-Sass_Logo_Color.svg.png">
                    <img class="ma-2 pa-1" style="background: #eee" height="32px" src="https://cdn.clipart.email/8a8273dcde004491de7e20f96da2b659_expressjs-cms-1-headless-cms-for-express-buttercms_1464-400.png">
                    <img class="ma-2" height="32px" src="https://cdn.worldvectorlogo.com/logos/mariadb.svg">
                    <img class="ma-2" height="32px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/1200px-MongoDB_Logo.svg.png">


                    <h2 style="margin-top: 50px;">Zum Projekt.</h2>
                    <div class="accentimgsmall" style="width: 110px;"></div>

                </v-col>
                <v-col class="col-xl-8 col-lg-8 col-md-8 desktop">
                    <img style="padding-left: 50px;" width="100%" src="../assets/odth.png">
                </v-col>
            </v-row>
        </v-col>

        <v-col class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>

    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER
        }
    };
</script>


<style>

    tr.border td.border {
        padding-top: 8px;
        padding-bottom: 8px
    }


    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        height: 12px;
        margin-top: -12px
    }



</style>
