<template>

    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12 mb-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>

            <v-row class="pt-12">
                <v-col class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>GraphEdit</h2>
                    <div class="accentimgsmall" style="width: 185px;"></div>
                    <p class="mt-2" style="text-align: justify">GraphEdit ist ein Online-Tool zur Visualisierung
                        verschiedener Ansätze zur Graphentheorie.</p>
                    <img class="mx-2 mb-2" height="24px"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png">
                    <img class="mx-2 mb-2" height="24px"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png">
                    <img class="mx-2 mb-2" height="24px" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png">
                    <div></div>
                    <div class="shadow  pa-3 pt-1 box">Mehr Anzeigen.</div>
                </v-col>
            </v-row>
            <v-row class="pt-8">
                <v-col class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>OddityHealth</h2>
                    <div class="accentimgsmall" style="width: 185px;"></div>
                    <p class="mt-2" style="text-align: justify"> OddityHealth ist ein Gesundheistracker fürs Büro.</p>
                    <img class="mx-2 mb-2" height="24px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png">
                    <img class="mx-2 mb-2" height="24px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png">
                    <img class="mx-2 mb-2" height="24px" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png">
                    <img class="mx-2 mb-2" height="24px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1200px-Laravel.svg.png">
                    <img class="mx-2 mb-2" height="24px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1200px-Sass_Logo_Color.svg.png">
                    <img class="mx-2 mb-2 pa-1" height="24px" src="https://cdn.clipart.email/8a8273dcde004491de7e20f96da2b659_expressjs-cms-1-headless-cms-for-express-buttercms_1464-400.png">
                    <img class="mx-2 mb-2" height="24px" src="https://cdn.worldvectorlogo.com/logos/mariadb.svg">
                    <img class="mx-2 mb-2" height="24px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/1200px-MongoDB_Logo.svg.png">

                    <div></div>
                    <div class="shadow  pa-3 pt-1 box">Mehr Anzeigen.</div>

                </v-col>
            </v-row>

            <v-row class="pt-8">
                <v-col class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>ATPsustain Web</h2>
                    <div class="accentimgsmall" style="width: 185px;"></div>
                    <p class="mt-2" style="text-align: justify">Webauftritt der ATPsustain GmbH.</p>
                    <img class="mx-2 mb-2" height="24px"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/1200px-Adobe_XD_CC_icon.svg.png">
                    <img class="mx-2 mb-2" height="24px" src="https://jurosko.de/wp-content/uploads/2018/05/wordpress-logo.png"
                         style="filter: invert(1)">
                    <div></div>
                    <div class="shadow  pa-3 pt-1 box">Mehr Anzeigen.</div>

                </v-col>
            </v-row>

        </v-col>

        <v-col class=" mt-12 col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>

    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER

        }
    };
</script>


<style>


    .box {
        font-weight: 700;
        width: auto;
        height: 25px;
        text-align: center;
        border-radius: 3px;
        background: #201e23;
        float: left
    }

    .box:hover {
        background: #29272c;

    }

    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        height: 12px;
        margin-top: -12px
    }
</style>
