<template>
    <div class="accentimg">
        <h1>

            <router-link to="/projects"><p
                    style="font-size: 40px; margin-top: 5px; text-align: right;margin-right: 20px; color: transparent; -webkit-text-stroke-width: 0.3px; -webkit-text-stroke-color: white;"><span
                    style="font-family:Arial"> > > ></span> ZU MEINEN PROJEKTEN </p></router-link>
        </h1>

    </div>
</template>

<script>
    export default {
        data() {
            return {};
        }
    };
</script>

<style>

    .accentimg {
        background-image: url('../assets/bg.jpg');
        background-position: top right;
        background-size: 250%;
        background-repeat: no-repeat;
        height: 35px;
        width: 600px;
        float: right
    }

</style>
