<template>

    <v-row no-gutters class="padding100">
        <v-col class="col-lg-2 col-xl-2 col-md-2 desktop">
            <MENU></MENU>
        </v-col>
        <v-col class="mobile col-sm-12 col-12">
            <MENU></MENU>
        </v-col>

        <v-col class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <HEADER class="desktop"></HEADER>
            <HEADER class="mobile"></HEADER>

            <v-row class="py-12">
                <v-col class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2>Projekte in Entwicklung</h2>
                    <div class="mb-6 accentimgsmall" style="width: 215px;"></div>

                    <h3 class="mb-2">COVID19Dashboard</h3>
                    <p style="text-align: justify">
                        Covid19 Dashboard</p>

                    <h3 class="mb-2">VUSOChat</h3>
                    <p style="text-align: justify">
                        <span style="font-weight: 700">VU</span>e<span style="font-weight: 700">SO</span>ckets<span style="font-weight: 700">Chat</span> - ein Chat mit Socket.io - mit Gruppen, Privatchat und FileTransfer.
                    </p>

                    <h3 class="mb-2">YDL</h3>
                    <p style="text-align: justify">
                    Electron / Node.js APP um Youtube Videos herunterzuladen.
                    </p>

                </v-col>
            </v-row>


        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mt-6">
            <FOOTER></FOOTER>
        </v-col>
        <v-col class="col-xl-6 col-lg-6 col-md-12 desktop mt-12">
            <TOPROJECTS></TOPROJECTS>
        </v-col>
    </v-row>

</template>

<script>

    import MENU from "./MENU";
    import FOOTER from "./FOOTER";
    import TOPROJECTS from "./TOPROJECTS";
    import HEADER from "./HEADER";

    export default {
        data() {
            return {};
        },
        components: {
            MENU,
            FOOTER,
            TOPROJECTS,
            HEADER

        }
    };
</script>


<style>

    tr.border td.border {padding-top: 8px; padding-bottom:8px}

    .accentimgsmall {
        margin-left: 10px;
        background-image: url('../assets/bg.jpg');
        background-size: 1700%;
        background-position: right;
        height: 12px;
        margin-top: -12px
    }



</style>
