<template>
  <v-app>
  <router-view></router-view>
  </v-app>
</template>

<script>

export default {
  name: 'App',


  data: () => ({
    //
  }),
};
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,700&display=swap');

  .v-application{
    //background-image: url('assets/bg.png')!important;
    background-repeat: repeat;
    background-color: #131116!important;
    color: #fff!important;
    font-family: 'Fira Sans', sans-serif!important;
    font-weight: 300;
    height: auto;
    font-size:13px
  }

  html {
    height: 100vh;

  }
  body {
    min-height: 100vh;


  }

  h1 {
   font-size: 72px;
  }

  a {
    color: #eee!important;
    text-decoration: none;
  }

  a:hover {
    color: #4067e2 !important;
  }


  @media (min-width: 960px) {
    .mobile {
      display: none !important;
    }
    .padding100{
      padding: 100px!important;
    }

    .padding8{
      padding: 32px!important; ;
    };

    .marginleft4{
      margin:16px;
    }

  }



  @media (max-width: 960px) {
    .desktop {
      display: none !important;
    }
    .padding100{
      padding: 30px!important;
    }

    .marginleft4{
      margin-left:0px;
    }

  }

</style>
